
@font-face {
        font-family: "RobotoCondensed-Bold";
        src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.ttf) format('truetype');
}

#icon {
    background-image: url("../images/World-Icon.png");
    margin-left: 140px;
    width: 40px;
    height: 40px;
    margin-bottom: 50px;
    background-repeat: no-repeat;
}

#languageChooserWrapper {
    position: absolute;
    width: 20%;
    height: 100%;
    z-index: 1000;
    background-color: #191A19;
    padding-top: 40px;
    padding-right: 40px;
}

#languagesWrapper {
    display: table;
    margin-top: 10px;
    font-family: RobotoCondensed-Bold;
    letter-spacing: -0.75px;
    line-height: 60px;
    font-size: 25px;
    width: 90%;
    color: #BEBEBE;
    padding-left: 40px;
    padding-right: 61px;
    margin-left: 22px;
}

#languagesWrapper .focus {
    color: #DBA200;
}
