* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
@font-face {
    font-family: "Roboto-Regular";
    src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Roboto-Condensed-Bold";
    src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "fontawesome-webfont";
    src: url('../fonts/fontawesome-webfont.ttf') format('truetype');
}

body {
    background-color: #191A19;
    color: #FFFFFF;
    margin: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 1280px;
    height: 720px;
    line-height: 1.2;
}

#mainAppWrapper {
    position: relative;
    float: left;
    width: 1280px;
    height: 720px;
    overflow: hidden;
}

#appWrapper {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
}

.appView {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    overflow: hidden;
}

#logoWrapper {
    position: absolute;
    top: 15px;
    right: 95px;
    background-image: url(../images/Logo.png);
    background-repeat: no-repeat;
    width: 72px;
    height: 148px;
}

#sidebarLauncher {
    position: absolute;
    height: 100%;
    width: 62px;
    background-color: #000000;
    box-shadow: 2px 2px 2px #000000;
    -webkit-box-shadow: 2px 2px 2px #000000;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 2px 2px 2px #000000; /* Firefox 3.5 - 3.6 */
    z-index: 1500;
    right: 3px;
}

#sidebarLauncher img{
    position: relative;
    top: 50%;
    left:40%;
    background-repeat: no-repeat;
}

#buttonsInfo {
    position: relative;
    float:left;
    margin-top: 55px;
    margin-left: 89px;
    opacity: 0.8;
    font-family: Roboto-Bold;
    font-size: 22px;
    color: #FFFFFF;
    letter-spacing: -0.66px;
}

#redInfo, #blueInfo, #liveVideoWrapper {
    border-width: 1px;
    border-color: transparent;
    border-style: solid;
}


#redInfo.focus, #blueInfo.focus, #liveVideoWrapper.focus {
	border-color: #ffffff;
	cursor: pointer;
	pointer-events: none;
}

#changeLanguageIcon {
    position: absolute;
    background-image: url("../images/World-Icon.png");
    width: 40px;
    height: 40px;
    left: -16px;
    top: -6px;
    background-repeat: no-repeat;
}

#changeLanguageIcon.focus {
    background-image: url("../images/World-Icon-Hover.png");
    background-repeat: no-repeat;
}


.button {
    margin-right: 10px;
}

#redButton {
    position: relative;
    float: left;
    background-color: #D0021B;
    width: 50px;
    border-radius: 15px;
    height: 21px;
}

#redInfo {
    position: relative;
    float: left;
    margin-left: 50px;
    margin-top:-4px;
}

#blueButton {
    position: relative;
    margin-left: -10px;
    float: left;
    background-color:#4A90E2;
    width: 50px;
    border-radius: 15px;
    height: 21px;
}

#blueInfo {
    position: relative;
    float: left;
    width: 65px;
    margin-top: -4px;
}

#episodesInfo {
    right: 84px;
    position: absolute;
    top: 122px;
    letter-spacing: -0.84px;
    text-align: right;
}

#title{
    font-family: Roboto-Bold;
    font-size: 22px;
    color: #999A99;
    letter-spacing: -0.66px;
    text-transform: uppercase;
    text-decoration: underline;

}


#name {
    font-family: Roboto-Bold;
    font-size: 30px;
    color: #FFFFFF;
    height: 44px;
    overflow: hidden;
    margin-bottom: 5px;
    letter-spacing: 1.05px;
    width: 800px;
    font-weight: bold;
}

#summary {
    font-family: Roboto-Regular;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: -0.66px;
    width: 700px;
    margin-left: 100px;
}


#carrouselsWrapper {
    position:absolute;
    top: 75%;
    margin-left: 80px;
}

#liveWrapper {
    position:absolute;
    width: 200px;
    right: 485px;
    top: 148px;
}

#liveMessage {
    font-family: Roboto-Bold;
    color: #DBA200;
    /*    #DBA200*/
    font-size: 20px;
    text-align: right;
    width: 590px;
}

#fxm_focus {
    position: absolute;
    z-index: 2000;
    border-width: 0px;
    border-color: #ffffff;
    border-style: solid;
    cursor: pointer;
    pointer-events: none;
}

#liveVideoWrapper {
    position: absolute;
    width: 598px;
    height: 342px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.50);
    -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.50);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.50); /* Firefox 3.5 - 3.6 */
    background-color: #000000;
}

#liveInfo {
    position: absolute;
    left:229px;
    top: 178px;
    width: 350px;
    letter-spacing: -0.84px;
    text-align: right;
}

#liveInfo .message {
    font-family: Roboto-Bold;
    color:#FFFFFF;
    opacity: 0.58;
    font-size: 14px;
    letter-spacing: -0.54px;
    overflow: hidden;
}

#next {
    position: relative;
    top: 185px;
    height: 5px;
}

#liveInfo .nameOf{
    font-family: Roboto-Regular;
    font-size: 28px;
    color: #FFFFFF;
    line-height: 28px;
    letter-spacing: -0.84px;
}

#liveInfo .started {
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #DBA200;
    letter-spacing: -0.54px;

}

/* carousel */

ul, p {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul > li {
    list-style-type: none;
}

.clickable {
    cursor: pointer;
    background-color: #000000;
    height: 249px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.50);
    webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.50);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.50); /* Firefox 3.5 - 3.6 */
}

/* CONTENT WRAPPER */

.contents {
    position: relative;
    float: left;
    height: 250px;

}

.contentWrapper {
    position: relative;
    float: left;
    z-index: 1000;
}
.contentTitleWrapper {
    position: relative;
    float: left;
    width: 100%;
    display: table;
    height: 10px;
    margin-left: 90px;
    margin-bottom: -16px;
}

.contentWrapper  {
    position: relative;
    float: left;
    width: 100%;
    display: table;
    height: 10px;
}

.contentWrapper .contentTitleWrapper .contentTitle {
    display: table-cell;
    width: 100%;
    color: #BEBEBE;
    font-family: Roboto-Bold;
    font-size: 22px;
    text-align: right;
    letter-spacing: -0.80px;
    padding-bottom: 20px;
}

.contentWrapper .contentInner {
    background-color: #000000;
    position: relative;
    float: left;
    width: 100%;
    margin-left: 761px;
}

.contentWrapper .contentInner .contentCarousel .content {
    position: absolute;
}

.contentWrapper .contentInner .contentCarousel
.contentWrapper .contentInner .contentCarousel {
    margin-left: 10px !important;
    margin-top: 10px !important;
    width: 300px !important;
}

.contentWrapper .contentInner .contentCarousel .content  {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
}

.contentWrapper .contentInner .contentCarousel .content  {
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}

.contentWrapper .contentInner .contentCarousel .content .contentNameWrapper {
    position: relative;
    float: left;
    width: 95%;
    margin-left: 12px;
    display: table;
}

.contentWrapper .contentInner .contentCarousel .content .contentNameWrapper .contentName {
    color: #FFFFFF;
    overflow: hidden;
    font-family: Roboto-Bold;
    font-size: 22px;
    padding-right: 5px;
    letter-spacing: -0.66px;
    text-align: right;
    height: 60px;
    padding-top: 5px;
}

#carouselWrapper {
    margin-top: 350px;
    margin-left: 15px;
    position: relative;
    float: left;
    width: 1188px;
    height: 100%;
    padding: 95px;
    overflow: hidden;
}


#carouselWrapper .contentWrapper .contentTitleWrapper {
    display: table;
}

#carouselWrapper .contentWrapper .contentInner .contentCarousel .content {
    margin-left: 13px;
    width: 300px;
}

#carouselWrapper .content .contentImageWrapper .contentImage {
    height: 145px;
    width: 100%;
}

#carouselWrapper .contentWrapper .contentInner .contentCarousel .content .contentNameWrapper {
    display: table;
}

.contentDurationWrapper {
    position: relative;
    margin-top: 18px;
    margin-right: 7px;
    float: right;
}

.contentDuration {
    display: table-cell;
    font-size: 20px;
    padding-left: 5px;
    font-family: Roboto-BOLD;
    color:#FFFFFF;
    opacity: 0.44;
    text-align: right;
    letter-spacing: -0.6px;
}

.content.focus, .content:hover {
    z-index:  2000;
    /*-ms-transform: scale(1.08); /* IE 9 */
    /*-webkit-transform: scale(1.08); /* Chrome, Safari, Opera */
     /*transform: scale(1.08);*/
     width: 330px !important;
        height: 260px !important;
        margin-left: 0 !important;
        top: -8px !important;
}


/*Collection Wrapper*/


.contentColWrapper {
    position: relative;
    float: left;
    z-index: 1000;
}
.contentColTitleWrapper {
    position: relative;
    float: left;
    width: 100%;
    display: table;
    height: 10px;
    margin-left: 90px;
    margin-bottom: -16px;
}

.contentColWrapper  {
    position: relative;
    float: left;
    width: 100%;
    display: table;
    height: 10px;
}

.contentColWrapper .contentColTitleWrapper .contentColTitle {
    display: table-cell;
    width: 100%;
    color: #BEBEBE;
    font-family: Roboto-Bold;
    font-size: 22px;
    text-align: right;
    letter-spacing: -0.80px;
    padding-bottom: 20px;
}

.contentColWrapper .contentColInner {
    background-color: #000000;
    position: relative;
    float: left;
    width: 100%;
    margin-left:761px;
}

.contentColWrapper .contentColInner .contentCollection .content {
    position: absolute;
}

.contentColWrapper .contentColInner .contentCollection
.contentColWrapper .contentColInner .contentCollection {
    margin-left: 10px !important;
    margin-top: 10px !important;
    width: 300px !important;
}

.contentColWrapper .contentColInner .contentCollection .content  {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
}

.contentColWrapper .contentColInner .contentCollection .content  {
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}

.contentColWrapper .contentColInner .contentCollection .content .contentColNameWrapper {
    position: relative;
    float: left;
    width: 99%;
    display: table;
    top: 32px;
}

.contentColWrapper .contentColInner .contentCollection .content .contentColNameWrapper .contentColName {
    color: #FFFFFF;
    display: table-cell;
    font-family: Roboto-Bold;
    font-size: 22px;
    padding-left: 5px;
    letter-spacing: -0.66px;
    opacity:0,8;
    text-align: center;
}

#collectionWrapper {
    margin-top: 750px;
    margin-left: 15px;
    position: absolute;
    float: left;
    width: 1188px;
    overflow: hidden;
    height: 100%;
    padding: 95px;
}


#collectionWrapper .contentColWrapper .contentColTitleWrapper {
    display: table;
}

#collectionWrapper .contentColWrapper .contentColInner .contentCollection .content {
    margin-left: 13px;
    width: 300px;
}

#collectionWrapper .content .contentColImageWrapper .contentColImage {
    height: 155px;
    width: 100%;
}

#collectionWrapper .contentColWrapper .contentColInner .contentCollection .content .contentColNameWrapper {
    display: table;
}

.collectionClickable{
    height: 155px;
}

.agreement{
    top:0;
    left: 0;
    z-index: 30000;
    width: 1280px;
    height: 768px;
    background-color: #000000;
    color: #ffffff;
    position: absolute;
    display: none;
}

.logoAgreement{
    background-image: url("../images/logoAgreement.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 34.7px;
    height: 58.7px;
    object-fit: contain;
    position: absolute;
    top: 108.7px;
    left: 622.7px;
}

.titleAgreement{
    position: absolute;
    top: 208px;
    font-size: 42.7px;
    text-align: center;
    width: 800px;
    line-height: 0.94;
    direction: rtl;
}
#privacyTitle{
    left: 240px;
}
#updateTitle{
    left: 222px;
}
#updateTextContainer{
    position: absolute;
    top: 307px;
    left: 299px;
    font-size: 21px;
    line-height: 1.56;
    width: 681px;
    direction: rtl;
    text-align: right;
}
#privacyTextContainer{
    position: absolute;
    top: 307px;
    left: 299px;
    font-size: 21px;
    line-height: 1.56;
    width: 681px;
    direction: rtl;
    text-align: right;
}
.urlAgreement{
    font-size: 36px;
    line-height: 0.74;
    text-align: center;
    position: absolute;
    top: 474px;
    width: 100%;
    font-family: Roboto-Regular;
}

.buttonAgreement{
    width: 200.7px;
    height: 64.7px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(130, 130, 130, 0.5);
    position: absolute;
    top: 547px;
    left: 540px;

}

.buttonAgreement p{
    font-size: 26.7px;
    text-align: center;
    color: #000000;
    padding-top: 20px;
}

#moreTab{
    display: none;
    width: 1280px;
    height: 720px;
    top: 120px;
    left: -70px;
    position: absolute;
    background-color: #191A19;
    z-index: 1000;
    padding-left: 25px;
    padding-top: 50px;
    direction: rtl;
}

.moreElement{
    height: 266.7px;
    width: 352px;
    display: inline-block;
    background-color: #000000;
    position: relative;
    margin-right: 26.7px;
}

.moreElement.focus{
    top: -10px;
}

.moreIcon{
    width: 352px;
    height: 198px;
    background-color: #9b9b9b;
}
#privacyIcon{
    background-image: url("../images/privacyIcon.png");
    background-position: center;
    background-repeat: no-repeat;
}

#cookieIcon{
    background-image: url("../images/cookieIcon.png");
    background-position: center;
    background-repeat: no-repeat;
}

.moreName{
    padding-top: 19.3px;
    padding-left: 14.7px;
    font-size: 21.3px;
    padding-right: 14.7px;
}

#privacyView{
    display: none;
}
.privacyViewText {
    position: absolute;
    top: 283px;
    left: 299px;
    font-size: 21px;
    text-align: center;
    line-height: 1.56;
    width: 681px;
    direction: rtl;
}

.privacyViewUrl {
    font-size: 36px;
    line-height: 0.74;
    text-align: center;
    position: absolute;
    top: 355px;
    width: 100%;
}

#privacyViewButton{
    width: 200.7px;
    height: 64.7px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(130, 130, 130, 0.5);
    position: absolute;
    top: 442px;
    left: 540px;
}

#privacyViewButton p{
    font-size: 26.7px;
    text-align: center;
    color: #000000;
    padding-top: 20px;
}

.privacyViewTitle{
    position: absolute;
    top: 208px;
    font-size: 42.7px;
    text-align: center;
    width: 100%;
    line-height: 0.94;
    direction: rtl;
}

#moreTitle{
    font-family: Roboto-Bold;
    color: #dba200;
    font-size: 20px;
    position: relative;
    top: -20px;
    left: -30px;
}