#playerView {
	opacity: 0;
        width: 598px;
        height: 342px;
}

#controls {
    position: absolute;
    float: left;
    background-color: #000000;
    opacity: 0.8;
    top: 95%;
    width: 1280px;
    z-index: 2000;
}

#playerControls {
    display: table;
    position: relative;
    float: right;
    left: -50px;
    top: -26px;
}

#showCarousel{
    background-image: url("../images/showCarousel.png");
    background-repeat: no-repeat;
    background-position-y: 6px;
}

#showCarousel.focus{
    background-image: url("../images/showCarouselHover.png");
    background-repeat: no-repeat;
    background-position-y: 6px;
}

.clickControl {
    display: table-cell;
    width: 10%;
    font-family: fontawesome-webfont;
    font-size: 28px;
    color: #FFFFFF;
}

.clickControl.focus {
   color: #F0BE06;
}

#timeInfo {
    position:relative;
    font-size: 22px;
    left:62%;
}

#duration {
    position: relative;
}

#currentTime{
    float: left;
    margin-right: 7px;
    position: relative;
}

#mainVideoObject {
    position: absolute;
    float: left;
     width: 598px;
     height: 342px;
     z-index: 1500;
     overflow: hidden;
}

#videoPlayer {
/*    width: 1280px;
    height: 720px;*/
    overflow: hidden;
    width: 595px;
    height: 339px;
}

#progressbar {
    position: relative;
    height: 5px;
    width: 60%;
    top: 18px;
    left: 3px;
    background-color: #FFFFFF;
    z-index: 2000;
    border-radius: 5px;
 }

#progressbar .ui-progressbar-value {

    background-color: #F57C28;
    height: 5px;
    transition: width 2s;
  }
