#searchView {
    top: -100%;
    z-index: 1;
}

#searchWrapper {
    height: 43%;
    right: 70px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    position: relative;
    top: 154px;
    width: 600px;
    z-index: 2;
    float:right;
}

#searchInputWrapper {
    float: left;
    height: 50px;
    position: relative;
    width: 571px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

#searchInput {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
}

#searchCursor {
    background-color: #000000;
    display: none;
    height: 61%;
    left: 0;
    position: absolute;
    top: -14px;
    width: 0.2em;
}

#searchInner {
    position: relative;
    float: left;
    height: 100%;
    padding-left: 10px;
    color: #000000;
    float: right;
    font-family: Roboto-Bold;
    font-size: 24px;
    top: -15px;
    position: relative;
}

#searchInner .char {
    color: #000000;
    float: right;
    font-family: Roboto-Bold;
    font-size: 24px;
    height: 100%;
    min-width: 0.5em;
    top: -35px;
    position: relative;
}

#searchInputKeys {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

#searchInputKeys .searchInputKey {
    border-radius: 5px;
    color: #000000;
    float: left;
    font-size: 22px;
    padding: 0;
    position: relative;
    text-align: center;
    width: 44px;
    font-family: Roboto-Bold;
    background-color: #ffffff;
    cursor: pointer;
    height: 38px;
    margin: 2px;
}

#searchInputKeys .searchInputKeysRow {
    position: relative;
    float: left;
    width: 100%;
}

#searchInputKeys .searchInputKeysRow .searchInputKey:first-child {
    margin-left: 0;
}

#searchInputKeys .searchInputKey.focus,
#searchInputKeys .searchInputKey:hover {
    background-color: #DAA500;
    font-family: Roboto-Bold;
}

#key_SPACE, #key_BACK, #key_ENTER {
    font-family: "fontawesome-webfont" !important;
    padding: 4px !important;
    font-weight: bold;
}

#searchMessage {
    font-family: Roboto-Bold;
    color: #DBA200;
    font-size: 18px;
    position: relative;
    top: -31px;
    float: right;
}
