
@font-face {
    font-family: "RobotoCondensed-Bold";
    src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.ttf) format('truetype');
}
#sidebarWrapper {
    position: absolute;
    width: 362px;
    height: 731px;
    z-index: 1200;
    background-color: #000000;
    padding-top: 30px;
    padding-left: 12px;
    right:2px;
}


#smallLogoWrapper {
    padding-left: 101px;

}

#categoriesWrapper {
    display: table;
    margin-top: 10px;
    font-family: RobotoCondensed-Bold;
    letter-spacing: -0.75px;
    line-height: 60px;
    font-size: 25px;
    width: 97%;
    text-align: right;
}

.watchLive {
    display: inherit;
    color: #BEBEBE;
    height: 51px;
    padding-left: 9px;
    width: 274px;
}

.categorie {
    display: inline-block;
    color: #BEBEBE;
    margin-right: 69px;
    margin-top: 10px;
    height: 51px;
    padding-left: 17px;
    padding-right: 10px;
    width: 280px
}

.watchLive.focus, .categorie.focus  {
    color: #DBA200;
}
