#splashIcon {
    position: relative;
    width: 100%;
    height: 100%; 
    background-color: #191A19;
    z-index: 2000;
}

#splashIcon img{
    position: relative;
    top:40%;
    left:38%;    
}